<nav class="navbar nav-pills navbar-expand-lg navbar-light bg-info">

    <a class="navbar-brand" href="#">Shop Bán hàng</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>

        </ul>

    </div>
    <div class="dropdown float-right">
        <button type="button" class="btn btn-primary dropdown-toggle" style="width: 150px" data-toggle="dropdown">
            Chức năng
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/product/manage">Quản lý sản phẩm</a>
            {{!-- <a class="dropdown-item" href="/product/create">Thêm</a>
            <a class="dropdown-item" href="/product/update">Sửa</a>
            <a class="dropdown-item" href="#">Xóa</a> --}}
            <a class="dropdown-item" href="#">Đăng nhập</a>
        </div>
    </div>

</nav>